<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getPublicationYear()}"
        th:href="@{/books/{id}(id=${book.getId()})}"></p>

    <div th:if="${book.getPersonId()==0}">
        <p>The book is free</p>
        <form th:method="post" th:action="@{/books/{id}/assign(id=${book.getId()})}" th:object="${person}">
            <label for="personId">Select person</label>
            <select th:field="*{id}" id="personId">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
                </option>
            </select>
            <input type="submit" value="Assign book"/>
        </form>
    </div>

    <div th:if="${book.getPersonId()!=0}">
        <p>The book is assigned to <span th:text="${person.getName()}"></span> </p>
        <form th:method="post" th:action="@{/books/{id}/free(id=${book.getId()})}"><input type="submit" value="Free Book"></form>
    </div>

    <br />

    <form th:method="get" th:action="@{/books/{id}/edit(id=${book.getId()})}"><input type="submit" value="Edit"></form>
    <form th:method="post" th:action="@{/books/{id}/delete(id=${book.getId()})}"><input type="submit" value="Delete"></form>

    <a th:href="@{/books}">Go to books</a>
</body>
</html>